 
    <style>
    
        .content-table{
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0,9em;
            min-width: 400px;
            border-radius: 5px 5px 0 0;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }
        
        .content-table thead tr{
            background-color: #000000;
            color: #ffffff;
            text-align: center;
        }
        
        .content-table tbody th{
            background-color: #009879;
            color: #000000;
            text-align: left;
        }
        
         .content-table tbody td:nth-of-type(even){
            background-color: #f3f3f3;
            color: #000000;
            text-align: left;
        }
        
        .content-table th,
        .content-table td {
            padding: 6px 9px
        }
        
        .content-table tbody tr{
            border-bottom: 1px solid #000000;
        }
         .content-alig h1{
            text-align: center;
        }
        
        .content-body1{
            text-align: center;
        }
        .content-body2{
            text-align: center;
        }
        .content-body3{
            text-align: center;
        }
        .content-body4{
            text-align: center;
        }
        .content-body5{
            text-align: center;
        }
        
    </style>
    
